.statbar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    padding: 5px;
    background: #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 5px;
    margin-left: 10px;
}

.hp {
    width: 0;
    background: #c54;
    height: 10px;
    position: relative;
    transition: width .75s linear;
  }
  
.atk {
    width: 0;
    background: #c54;
    height: 10px;
    position: relative;
    transition: width .75s linear;
}
  
.def {
    width: 0;
    background: #c54;
    height: 10px;
    position: relative;
    transition: width .75s linear;
}
  
.spd {
    width: 0;
    background: #c54;
    height: 10px;
    position: relative;
    transition: width .75s linear;
}
  
.satk {
    width: 0;
    background: #c54;
    height: 10px;
    position: relative;
    transition: width .75s linear;
}

.sdef {
    width: 0;
    background: #c54;
    height: 10px;
    position: relative;
    transition: width .75s linear;
}

.inlineDiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.statText {
    margin: 0px;
}

@media screen and (max-width: 600px) {
    .inlineDiv {
        width: 350px;
    }
}