body {
    background-image: url(img/pokemap2.jpg);
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
  }
  
.container {
    display: grid;
    grid-template-columns: 224px 626px;
    grid-template-rows: 80px 144px 500px;
    border: solid 2px black;
    width: 875px;
    padding-top: 25px;
    padding-left: 25px;
    margin-top: 50px;
    background-color: #252525;
}
  
.imgDiv {
    grid-column: 1;
    grid-row: 1/2;
}
  
.pokeInfo {
    display: flex;
    justify-content: space-between;
    grid-column: 2;
    grid-row: 1;
}

.pokeName {
    z-index: 2;
    grid-row: 1;
    grid-column: 2;
    font-size: 5em;
    margin-top: -5px;
    margin-left: 25px;
    text-align: center;
}

.pokeName:first-letter {
    text-transform: capitalize;
}

.pokeID {
    grid-row: 1;
    grid-column: 2;
    font-size: 2em;
    color: rgb(153, 153, 153);
    margin-top: -5px;
    margin-left: 40px;
}

.pokeBio {
    grid-column: 2;
    grid-row: 2;
}

.pokeHW {
    display: grid;
    grid-template-columns: 257.5px 257.5px;
    grid-template-rows: 50px 50px;
    border: solid 2px black;
    background-color: rgb(87, 87, 87);
    margin-left: 20px;
    width: 515px;
    height: 100px;
}

.height {
    grid-column: 1;
    grid-row: 1;
    margin-left: 50px;
}
.weight {
    grid-column: 2;
    grid-row: 1;
    margin-left: 50px;
}

.gender {
    grid-column: 1/2;
    grid-row: 2;
    margin-left: 50px;
    margin-top: 10px;
    width: 460px;
}

.typeBar {
    display: flex;
    justify-content: inline;
    margin-top: -5px;
    padding-top: 0px;
    margin-left: 22px;
    width: 525px;
    /* height: 25px; */
}

.pokeData {
    grid-column: 2/3;
    grid-row: 3;
}

.image {
    width: 200px;
    border: solid 2px  black;
    background-color: #cef5df;
    padding: 10px;
}

.type {
    text-align: center;
    border: solid 2px black;
    width: 265px;
    margin-right: 10px;
}

.dmgtype {
    text-align: center;
    font-weight: bold;
    border: solid 2px black;
    width: 200px;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
}
